In [3]:
import pandas as pd
location = "titanic3.xls"
df = pd.read_excel(location)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [6]:
df["familySize"]=df["sibsp"]+df["parch"]
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,familySize
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",0
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",3
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",3
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",3
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",3

In [25]:
Survive_Female =len(df[(df['sex']=='female') & (df['survived'] == 1)])
Dead_Female =len(df[(df['sex']=='female') & (df['survived'] == 0)])
Survive_Class1 =len(df[(df['pclass']==1) & (df['survived'] == 1)])
Dead_Class1 =len(df[(df['pclass']==1) & (df['survived'] == 0)])
Survive_Over18 =len(df[(df['age'] >18) & (df['survived'] == 1)])
Dead_Over18 =len(df[(df['age'] >18) & (df['survived'] == 0)])
Survive = len(df[df['survived'] == 1])
Dead=len(df[df['survived']==0])
Female=len(df[df['sex']=='female'])
Class1=len(df[df['pclass']==1])
Over18=len(df[df['age']>18])
Total=len(df[df['sex'].notnull() & df['sex'].notnull()])

In [26]:
def findBayesSurvive(p_Female_Survive ,p_Class1_Survive,p_Ove18_Survive,p_Total_Survive):
    return p_Female_Survive*p_Class1_Survive*p_Ove18_Survive*p_Total_Survive

In [30]:
import pandas as pd
p_Female_Survive = 339/500
p_Class1_Survive=200/500
p_Ove18_Survive=332/500
p_Total_Survive=500/1309
print (findBayesSurvive(p_Female_Survive ,p_Class1_Survive,p_Ove18_Survive,p_Total_Survive))

0.06878411000763943

In [31]:
def findBayesDead(p_Female_Dead ,p_Class1_Dead,p_Ove18_Dead,p_Dead):
    return p_Female_Dead*p_Class1_Dead*p_Ove18_Dead*p_Dead

In [32]:
import pandas as pd
p_Female_Dead = 127/809
p_Class1_Dead=123/809
p_Ove18_Dead =521/809
p_Dead =809/1309
print (findBayesDead(p_Female_Dead,p_Class1_Dead,p_Ove18_Dead,p_Dead))

0.009499699462118719

In [33]:
#prob (woman & firstclass|Survice) > prob(woman&firstclass|Dead)
#prob(woman+1stClass | survive) > prob(woman+1stClass | dead)
#0.06696697246037843 > 0.009499699462118719
# woman in the fisrt class is likely to survive.

In [34]:
import pandas as pd
location = "titanic3.xls"
df = pd.read_excel(location)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [35]:
df['sex']=='male'

0       False
1        True
2       False
3        True
4       False
5        True
6       False
7        True
8       False
9        True
10       True
11      False
12      False
13      False
14       True
15       True
16       True
17      False
18      False
19       True
20       True
21      False
22       True
23      False
24      False
25       True
26       True
27      False
28      False
29       True
        ...
1279    False
1280     True
1281     True
1282     True
1283     True
1284     True
1285     True
1286    False
1287     True
1288     True
1289     True
1290    False
1291     True
1292     True
1293     True
1294     True
1295     True
1296     True
1297     True
1298     True
1299     True
1300    False
1301     True
1302     True
1303     True
1304    False
1305    False
1306     True
1307     True
1308     True
Name: sex, Length: 1309, dtype: bool

In [36]:
Survive_Male =  len(df[(df['sex']=='male') & (df['survived'] == 1)])
Survive_Class2 = len(df[(df['pclass']==2)  & (df['survived'] == 1)])
Survive_Under18 = len(df[(df['age']<=18) & (df['survived'] == 1)])
Survive = len(df[df['survived'] == 1])
Dead_Male =len(df[(df['sex']=='male') & (df['survived'] == 0)])
Dead_Class2 =len(df[(df['pclass']==2) & (df['survived'] == 0)])
Dead_Under18 =len(df[(df['age'] <=18) & (df['survived'] == 0)])
Dead=len(df[df['survived'] == 0])

Male =len(df[df['sex']=='male'])
Class2 = len(df[df['pclass']==2])
Under18 = len(df[df['age']<=18])

Total=len(df[df['sex'].notnull() & df['age'].notnull()])

In [37]:
def findBayesSurvive1(p_Male_Survive ,p_Class2_Survive,p_Under18_Survive,p_Total_Survive):
    return p_Male_Survive*p_Class2_Survive*p_Under18_Survive*p_Total_Survive

In [7]:
import pandas as pd
p_Male_Survive = 161/500
p_Class2_Survive=119/500
p_Under18_Survive=95/500
p_Total_Survive=500/1046
print (findBayesSurvive1(p_Male_Survive ,p_Class2_Survive,p_Under18_Survive,p_Total_Survive))

0.006960248565965582

In [8]:
def findBayesDead1(p_Male_Dead ,p_Class2_Dead,p_Under18_Deade,p_Total_Dead):
    return p_Male_Dead*p_Class2_Dead*p_Under18_Dead*p_Total_Dead

In [142]:
import pandas as pd
p_Male_Dead = 682/843
p_Class2_Dead=158/277
p_Under18_Dead=98/193
p_Total_Dead=809/1046
print (findBayesDead1(p_Male_Survive ,p_Class2_Survive,p_Under18_Survive,p_Total_Survive))

0.019914645512537178

In [165]:
# prob(Girl_2ndClass | Survive)  <  Prob(Girl_2ndClass | Dead)
# 0.019305013507051345 < 0.019914645512537178
# girl_2ndClass is likely to die

In [12]:
# women in 3rd class 
Survive_Female =len(df[(df['sex']=='female') & (df['survived'] == 1)])
Dead_Female =len(df[(df['sex']=='female') & (df['survived'] == 0)])
Survive_Class3 =len(df[(df['pclass']==3) & (df['survived'] == 1)])
Dead_Class3 =len(df[(df['pclass']==1) & (df['survived'] == 0)])
Survive_Over18 =len(df[(df['age'] >18) & (df['survived'] == 1)])
Dead_Over18 =len(df[(df['age'] >18) & (df['survived'] == 0)])
Survive = len(df[df['survived'] == 1])
Dead=len(df[df['survived']==0])
Female=len(df[df['sex']=='female'])
Class3=len(df[df['pclass']==3])
Over18=len(df[df['age']>18])
Total=len(df[df['sex'].notnull() & df['sex'].notnull()])

In [15]:
def findBayesSurvive2(p_Female_Survive ,p_Class3_Suvive,p_Ove18_Survive,p_Total_Survive):
    return p_Female_Survive*p_Class3_Suvive*p_Ove18_Survive*p_Total_Survive

In [16]:
p_Female_Survive = 339/500
p_Class3_Suvive=181/500
p_Ove18_Survive=332/500
p_Total_Survive=500/1046
print (findBayesSurvive2(p_Female_Survive ,p_Class3_Suvive,p_Ove18_Survive,p_Total_Survive))

0.07790129254302104

In [17]:
def findBayesDead2(p_Female_Dead ,p_Class3_Dead,p_Ove18_Dead,p_Total_Dead):
    return p_Female_Dead*p_Class3_Dead*p_Ove18_Dead*p_Total_Dead

In [18]:
import pandas as pd
p_Female_Dead = 127/466
p_Class3_Dead=123/709
p_Ove18_Dead =521/853
p_Total_Dead =809/1046
print (findBayesDead2(p_Female_Dead ,p_Class3_Dead,p_Ove18_Dead,p_Total_Dead))

0.022334807295492174

In [166]:
#prob(woman+3rdclass |survive) > prob(woman+3rd class | dead)
#0.03455202406666402 > 0.022334807295492174

In [19]:
#Q4 man in 1st class
Survive_Male =len(df[(df['sex']=='male') & (df['survived'] == 1)])
Dead_Male =len(df[(df['sex']=='male') & (df['survived'] == 0)])
Survive_Class1 =len(df[(df['pclass']==1) & (df['survived'] == 1)])
Dead_Class1 =len(df[(df['pclass']==1) & (df['survived'] == 0)])
Survive_Over18 =len(df[(df['age'] >18) & (df['survived'] == 1)])
Dead_Over18 =len(df[(df['age'] >18) & (df['survived'] == 0)])
Survive = len(df[df['survived'] == 1])
Dead=len(df[df['survived']==0])
Male=len(df[df['sex']=='male'])
Class1=len(df[df['pclass']==1])
Over18=len(df[df['age']>18])
Total=len(df[df['sex'].notnull() & df['age'].notnull()])

In [20]:
def findBayesSurvive3(p_Male_Survive ,p_Class1_Survive,p_Ove18_Survive,p_Total_Survive):
    return p_Male_Survive*p_Class1_Survive*p_Ove18_Survive*p_Total_Survive

In [21]:
import pandas as pd
p_Male_Survive = 161/500
p_Class1_Suvive=200/500
p_Ove18_Survive=332/500
p_Total_Survive=500/1046
print (findBayesSurvive3(p_Male_Survive ,p_Class1_Suvive,p_Ove18_Survive,p_Total_Survive))

0.0408810707456979

In [22]:
def findBayesDead3(p_Male_Dead ,p_Class1_Dead,p_Ove18_Dead,p_Total_Dead):
    return p_Male_Dead*p_Class1_Dead*p_Ove18_Dead*p_Total_Dead

In [23]:
import pandas as pd
p_Male_Dead = 682/843
p_Class1_Dead=123/323
p_Ove18_Dead =521/853
p_Total_Dead =809/1046
print (findBayesDead3(p_Male_Dead ,p_Class1_Dead,p_Ove18_Dead,p_Total_Dead))

0.14553415155620825

In [190]:
#prob(male_1stclass|survive) < prob(male_1stclass|dead)
#0.022001543379521017 < 0.14553415155620825
#Male at the Frist Class is likely to die